/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
   ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
    /*Custom properties*/
      :root{
        --primary:#f2f2f2;
        --primarydark:#353535;
        --footerdark:#2e2e2e;
        --text-border-orange:#fe4918;
        --border-price:#c8c8c8;
        --icon-green:#008000;
        --gray-letters:#868686;
        --text-red:#ff0000;
        --color-white:#ffffff;
        --product-list:#e1e1e1;
        /* color change with hover */
        --orange-hover:#e33000;
        /* shades */
        --shades:#666;
      }
     /*---------------Global---------------*/
    html {
      box-sizing: border-box;/*Este codigo es para impedir que se agrege el padding a un valor de ancho especificado*/
      font-size: 62.5%;/*1Rem=10px*/
      font-family: 'Open Sans', sans-serif;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    } 
    .container{
    width: 90%;
    margin: 0 auto;
    }
    body{
      font-size: 1.6rem;/*Tamaño de la fuente*/
      background-color: var(--primary);
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    body main{
      flex: 1;
    }
    img{
      max-width: 100%;
    }
    h1,.h1{
      font-family: 'PT Sans', sans-serif;    
      margin: 0;
      text-transform: uppercase;
      font-size: 14.5vw;
      color: var(--color-white);
    }
    h2{
      font-family: 'Oswald', sans-serif;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: normal;
      text-align: center;
      margin-top: 0;
    }
    h2::after{
      content: '';
      background-image: url(../img/separador.png);
      width: 10rem;
      height: 3rem;
      display: block;
      margin: 0 auto;
    }
    h3{
      color: var(--text-border-orange);
      margin: 0;
      font-size: 2rem; 
    }
    p{
      margin: 0;
      font-size: 1.7rem;
      line-height: 2;
      text-align: center;
    }
    .new-section{
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    .button{
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      color: var(--color-white);
      font-size: 1.8rem;
      padding: 1rem 4rem;
      display: inline-block;
      transition: all .3s ease;
      border: none;
    }
    .button:hover{
      cursor: pointer;
    }
    .button-orange{
      background-color: var(--text-border-orange);
    }
    /* change background color to orange button */
    .container-button a:hover,
    .container-btn-payments input:hover{
      background-color: var(--orange-hover);
    }
    nav a,a{
      text-decoration: none;
    }
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
    }
    input:not([type="submit"]),textarea,
    .containers-clear{
      border: 1px solid var(--border-price); 
      background-color: var(--color-white);
    }
    /*---------------Header---------------*/
    .hero{
      background-image: url(../img/encabezado.jpg);
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      height: 60rem;  
    } 
    .container-name{
      width: 90%;
    }
    .container-hero{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--color-white);
      height: 100%;
    }
    .container-social{
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      margin-bottom: 4rem;
      width: 20rem;
    }
    .container-social a i{
      font-size: 3rem;
      color: var(--color-white);
    }
    .container-social a i:hover{
      color: var(--gray-letters);
    } 
    .content-header{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .content-header p i{
      color: var(--text-border-orange);
    }
    .slogan{
      text-align: center;
      padding: 0 2rem;
    }
    .slogan span{
      font-weight: bold;
    }
    /*---------------section-bar---------------*/
    .bar{
      background-color:var(--primarydark);
      padding: 2rem 0;
    }
    /*drop-down menu for mobile version*/
    .container-menu-mobile{
      display: flex;
      justify-content: space-between;
    }
    .logo img{
      height: 4rem;
    }
    .mobile-menu a i{
      color: var(--color-white);
      font-size: 4rem;
    } 
    .nav-menu{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .nav-menu{
      display: none;
    }
    nav.nav-menu a{
      font-family: 'Oswald', sans-serif;
      color: var(--color-white);
      text-transform: uppercase;
      font-size: 2rem;
      margin: 1rem 0;
      transition: all .3s ease;
    }
    /*---------------section-galery---------------*/
    .container-galery{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 2rem;
    }
    .container-galery img,
    .img-guets{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    /*---------------section-video---------------*/
    .father-video{
      position: relative;
      width: 100%;
      height: 70rem;
    }
    video{
      object-fit: cover;
      height: 100%;
      position: absolute;
    }
    .container-video{
      position: absolute;
      bottom: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 3rem;
      right: 0;
      left: 0;
    }
    .menu-video{
      border-bottom: 1px solid var(--text-border-orange);
      padding-bottom: 1rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .menu-video a{
      font-family: 'Oswald', sans-serif;
      color: black;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .menu-video a:last-of-type{
      margin: 0;
    }
    .menu-video a i,
    .description-video p i{
      margin-right: .5rem;
      color: var(--text-border-orange);
      font-size: 2.5rem;
    }
    .description-video{
      padding: 2rem 0;
      border-bottom: 1px solid #000000;
    }
    .description-video:nth-child(2){
      border: none;
    }
    .description-video p{
      margin-top: 1rem;
      text-align: start;
    }
    .description-video h3{
      font-family: 'PT Sans', sans-serif;  
    }
    .arrow{
      position: absolute;
      bottom: -1rem;
      left: 7rem;
    }
    .container-button{
      display: flex;
      justify-content: end;
    }
    /*---------------section-guests---------------*/
    .guest-list{
      display: grid;
      grid-gap: 2rem;
    }
    .content-invitado{
      position: relative;
      overflow: hidden;
    }
    .content-invitado img{
      filter: grayscale(100%);
      transition: all .5s ease-in-out;
    }
    .guest-name{
      position: absolute;
      bottom: 0;
      background-color: rgba(79, 77, 77, 0.902);
      width: 100%;
      padding: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--text-border-orange);
      text-align: start;
    }
    /*---------------section-summary---------------*/
    .parallax {
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      background-size:cover;
      overflow: hidden;
    }
    .summary{
      background-image: url(/img/bg-resumen.jpg);
    }
    .container-summary{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
    }
    .content-summary{
      flex: 0 0 calc(50% - 1rem)
    }
    .content-summary p{
      font-family: 'Oswald', sans-serif;
      color: var(--color-white);
      text-transform: uppercase;
    }
    p.number{
      font-size: 10rem;
      color: var(--text-border-orange);
      line-height: unset;
    }
    /*---------------section-prices---------------*/
    .grid{
      display: grid;
    }
    .container-price{
      grid-gap: 2rem;
    }
    .content-price{
      padding: 4rem;
    } 
    .content-price p,
    h3.tittle-price{
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      text-align: center;
    }
    p.price{
      font-size: 5rem;
      line-height: 1;
      margin: 2rem 0;
    }
    .inf-price p{
      color: var(--gray-letters);
      margin-bottom: 2rem;
      line-height: 1;
    }
    .inf-price i{
      margin-right: .5rem;
      color: var(--icon-green);
      font-size: 2rem;
    }
    .container-button-price{
      display: flex;
      justify-content: center;
    }
    .button-price{
      color: var(--text-border-orange);
      border: 2px solid var(--text-border-orange);
    }
    /*---------------section-testimonials---------------*/
    .container-testimonials {
      grid-gap: 1rem;
    }
    blockquote.text-testimony{
      margin: 0;
      padding: 2rem;
      position: relative;
    }
    blockquote.text-testimony i {
      font-size: 3rem;
      color: var(--text-border-orange);
      float: left;
      margin-left: 1rem;
    }
    .container-user {
      padding: 0 3rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    } 
    .colum-4 {
      width: 10rem;
    }
    .colum-4 img{
      border-radius: 50%;
    }
    .colum-8{
      text-align: center;
    }
    .colum-8 h3 {
      text-transform: uppercase;
      font-size: 1.8rem;
      margin-top: 1rem;
    }
    .colum-8 p{
      font-size: 1.3rem;
    }
    /*---------------section-registry---------------*/
    .registry{
      background-image: url(../img/bg-inscribir.jpg);
      height: 45rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .registry p{
      color: var(--color-white);
      font-weight: bold;
      text-transform: uppercase;
    }
    .button-registry{
      border: 2px solid var(--color-white);
    }
    /*---------------section-timer---------------*/
    .container-timer{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .content-timer{
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
    }
    /*---------------section-footer---------------*/
    .footer{
      background-color: var(--primarydark); 
    }   
    .container-footer{
      display: grid;
      grid-gap: 2rem;
    }
    .content-footer p{
      color: var(--color-white);
      font-size: 1.5rem;
      text-align: justify;
    } 
    h3.tittle-footer{
      font-family: 'Oswald', sans-serif;
      margin: 1rem 0;
      text-transform: uppercase;
      color: var(--color-white);
    }
    h3.tittle-footer span{
      color: var(--text-border-orange);
    }
    ul.last-tweets li{
      margin-bottom: 1rem;
    }
    ul.last-tweets li:last-of-type{
      margin: 0;
    }
    .bar-footer{
      background-color: var(--footerdark);
      padding: 1rem 0;
      color: var(--color-white);
    }
    /*==============================seccion-other pages==============================*/
    /*---------------section-calendary---------------*/
    .container-calendary{
      display: grid;
    }
    .tittle-calendary{
      background-color: var(--text-border-orange);
      color: var(--color-white);
      font-family: 'Oswald', sans-serif;
      font-size: 3rem;
    }
    .tittle-calendary h3{
      color: var(--color-white);
      text-align: center;
    }
    .content-calendary{
      padding: 2rem 2rem;
      text-align: center;
      text-transform: uppercase;
    }
    .content-calendary h4{
      color: var(--text-border-orange);
      font-size: 2rem;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .content-calendary p{
      font-size: 1.5rem;
    }
    .container-calendary p i{
      margin-right: 1rem;
      color: var(--text-border-orange);
    }
     /*---------------section-reservations---------------*/
    .container-reservations{
      padding: 3rem;
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
    }
    .record-field{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .record-field input{
      width: 100%;
      text-align: center;
      padding: .5rem;
      border-radius: 1rem;
      background-color: var(--border-price);
    }
    fieldset h3{
      text-align: center;
      text-transform: uppercase;
      margin: 2rem 0;
      font-size: 2.5rem;
    }
    fieldset label{
      font-weight: bold;
      text-align: center;
      margin: 1rem 0;
    }
    div.packages div.content-price:hover{
      transform: unset;
      box-shadow: unset;
    }
    .form-tickets{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .form-tickets input{
      width: 10rem;
      margin-top: 1rem;
      border-radius: .5rem;
    }
    .colum-6{
     flex: 0 0 calc(50% - 1rem);
    }
    .colum-6 label span{
      font-size: 1.3rem;
    }
    .colum-6 p{
      text-transform: uppercase;
    }
    .content-payments{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .input-quantity{
      width: 30%;
    }
    .input-quantity,
    select{
      margin: 1rem 0;
    }
    .container-btn-payments{
      display: flex;
      justify-content: center;
      margin: 2rem 0;
    }
    div.container-workshops{
      flex-direction: column;
    }
    div.container-workshops h4{
      text-align: center;
      border-bottom: 2px solid var(--text-border-orange);
      padding-bottom: 2rem;
      font-size: 2rem;
      text-transform: uppercase;
      margin: 1rem;
    }
    div.container-day{
      display: flex;
      flex-direction: column;
    }
    div.content-workshops{
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
    }
    div.content-workshops p{
      padding: 2rem;
      width: 100%;
    }
    div.content-workshops label{
      margin-bottom: 1rem;
      text-align: left;
    }
    div.content-workshops label input{
      margin-right: 1rem;
    }
    div.content-workshops time,
    div.product-list ul li span,
    div.total p{
      color: var(--text-red);
    }
    div.product-list{
      display: flex;
      justify-content: center;
      margin: 0 auto;
      background-color: var(--product-list);
    }
    div.product-list ul li{
      list-style: circle;
      padding: .5rem 0;
    }
    .friday,
    .saturday,
    .sunday{
      display: none;
    }
    div.error p{
      color: var(--text-red);
      font-size: 1.5rem;
    }

    /* ==========================================================================
     Media Query
     ========================================================================== */
    @media (min-width: 480px){
    /*==============================seccion-other pages==============================*/
        /*---------------section-reservations---------------*/

    }
    @media (min-width: 768px){
      /*---------------Global---------------*/
      h1{
        font-size: 11.4vw;
      }
      /*---------------Header---------------*/
      .container-name{
        width: 70%;
      }
      .content-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      /*---------------section-bar---------------*/
      /*---------------section-galery---------------*/
      .container-galery{
        grid-template-columns: repeat(4,1fr);
      }
      /*---------------section-video---------------*/
      video{
        width: 100%;
      }
      .container-video{
        bottom: 3rem;
        top: 3rem;
        left: 4rem;
        width: 70%;
        right: unset;
      }
      .menu-video{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--text-border-orange);
        padding-bottom: 1rem;
        position: relative;
      }
      .menu-video a{
        margin-bottom: 0;
      }
      /*---------------section-guests---------------*/
      .guest-list{
        grid-template-columns: repeat(2,1fr);
      }
      /*---------------section-summary---------------*/
      .summary{
        height: 45rem;
      }
      .container-summary{
        height: 100%;
      }
      .content-summary{
        flex: unset;
      }
      /*---------------section-prices---------------*/
      .container-price{
        grid-gap: 1rem;
      }
      .content-price{
        padding: 3rem 1rem;
      }
      /*---------------section-testimonials---------------*/
      blockquote.text-testimony {
        padding: 1.5rem;
      }
      blockquote.text-testimony i {
        margin-left: 2rem;
        margin-right: -2rem;
      }
      blockquote.text-testimony p {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.7;
      }
      /*---------------section-prices---------------*/
      .grid{
        grid-template-columns: repeat(3,1fr);
      }     
      /*---------------section-registry----------------*/
      /*---------------section-timer---------------*/
      .container-timer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
      }
      /*---------------section-footer---------------*/
      .container-footer{
        grid-template-columns: repeat(3,1fr);
      }
    /*==============================seccion-other pages==============================*/
      /*---------------section-calendary---------------*/
      .container-calendary{
          grid-template-columns: repeat(2,1fr);
      }
      .tittle-calendary{
          grid-column: 1/3;
      }
      /*---------------section-reservations---------------*/
      .spacing-full{
        margin: 3.5rem 0;
      }
      div.container-day{
        flex-direction: row;
        justify-content: space-between;
      }
    }

    @media (min-width: 968px){
      /*---------------Global---------------*/
      p{
        font-size: 2rem;
        line-height: 1.7;
      }
      h1{
        font-size: 8vw;
      }
      /*---------------Header---------------*/
      .container-name{
        width: 50%;
      }
      /*---------------section-bar---------------*/
      .container-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .mobile-menu{
        display: none;
      } 
      .nav-menu{
        display: inline-block;
      }
      nav.nav-menu a{
        margin-right: 2rem;
        margin-bottom: 0;
      }
      nav.nav-menu a:hover{
        color: var(--text-border-orange);
      }
      nav.nav-menu a:last-of-type{
        margin-right: unset;
        color: var(--text-border-orange);
        border: 3px solid var(--text-border-orange);
        padding: 1rem 0;
        padding-left: 2rem;
        padding-right: 1rem;
        font-weight: bold;
      }  
      nav.nav-menu a:last-of-type:hover{
        color: var(--color-white);
        background-color: var(--text-border-orange);
      }
      /*---------------section-video---------------*/
      .container-video{
        left: 7rem;
        width: 40%;
      }
      /*---------------section-guests---------------*/
      .guest-list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
      }
      .guest-list li:hover img{
        filter: grayscale(0);
        transform: scale(1.1);
      }        
      .guest-list li:hover p {
        bottom:-8rem;
       
    }  
      /*---------------section-summary---------------*/
      /*---------------section-prices---------------*/
      .container-price{
        grid-gap: 2rem;
        max-width: 100rem;
        margin: 0 auto 4rem auto;
      }
      .content-price{
        padding: 4rem;
        transition: all .2s ease-in-out;
      }
      .content-price:hover{
        transform: scale(1.1);
        border: 1px solid var(--text-border-orange);
        box-shadow: 0 0 50px var(--shades);
      }
      .content-price:hover a{
        background-color: var(--text-border-orange);
        color: var(--color-white);
      } 
      p.price{
        font-size: 8rem;
      }
    /*---------------section-testimonials---------------*/
    .container-testimonials {
      grid-gap: 2rem;
    }
    blockquote.text-testimony{
      padding: 3rem 5rem 2rem 8rem;
    }
    blockquote.text-testimony i {
      position: absolute;
      top: 3rem;
      left: 4rem;
      float: none;
      margin: 0;
    }
    .container-user {
      flex-direction: row;
    } 
    .colum-4 {
      flex: 0 0 calc(33.3% - 1rem);
    } 
    .colum-8, 
    .colum-8 p {
      flex: 0 0 65%;
      text-align: left;
    }
    .colum-8 h3 {
      font-size: 1.7rem;
    }
    .colum-8 p{
      font-size: 1.5rem;
    }
    /*---------------section-registry----------------*/
      .container-btn-registry{
        margin-top: 5rem;
      }
      .registry p{
        color: var(--color-white);
        font-weight: bold;
        text-transform: uppercase;
      }
      .registry p.h1{
        font-size: 11rem;
        line-height: 1;
      }
      .button-registry:hover{
        border: 2px solid var(--text-border-orange);
        background-color: var(--text-border-orange);
      }
      /*---------------section-timer---------------*/
      .container-timer{
        width: 80rem;
      }
      /*---------------section-footer---------------*/
      /*---------------seccion-other pages---------------*/
      .container-calendary{
        grid-template-columns: repeat(3,1fr);
      }
      .tittle-calendary{
        grid-column: 1/4;
      }
    /*==============================seccion-other pages==============================*/
      /*---------------section-calendary---------------*/
      .content-calendary:hover {
        transform: scale(1.2);
        background-color: var(--primary);
        transition: all .5s ease;
      }
      /*---------------section-reservations---------------*/
      .container-reservations{
        flex-direction: row;
        justify-content: space-around;
      }
      div.error{
        position: absolute;
        top: 3.5rem;
        left: 10rem;
      }
      .record-field{
        flex-direction: row;
        flex: 0 0 calc(30% - 1rem);
        flex-wrap: wrap;
        position: relative;
      }
      .record-field input{
        margin: 0 0 0 1rem;
        text-align: start;
        background-color: unset;
        flex: 1;
      }
      div.grid-colum1-3{
        padding: 3.1rem 4rem 4rem;
      }
      div.grid-colum1-3 h3{
        margin-top: 0;
      }
      .spacing-full{
        margin: 2rem 0;
      }
      div.product-list{
        width: 40rem;
      }
    }

   /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden {
    display: none !important;
  }
  
  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
  * Hide visually and from screen readers, but maintain layout
  */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  